<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5">
  <link name="gripper_body">
    <inertial>
      <origin xyz="2.1478E-05 -0.056983 0.0015312" rpy="0 0 0"/>
      <mass value="0.44225"/>
      <inertia ixx="0.00031483" ixy="-3.882E-08" ixz="3.7547E-08" iyy="0.00016784" iyz="6.6712E-06" izz="0.00035617"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
      <mesh filename="package://robot_model/meshes/gripper/gripper_body.STL"/>
    </geometry>
    <material name="">
      <color rgba="0.79216 0.81961 0.93333 1"/>
    </material>
    </visual>
      <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
      <mesh filename="package://robot_model/meshes/gripper/gripper_body.STL"/>
    </geometry>
    </collision>
</link>
</robot>
