<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur5" >
    <link
      name="table">
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://lego_robot_description/meshes/table/table.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.79216 0.81961 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://lego_robot_description/meshes/table/table.STL" />
        </geometry>
      </collision>
    </link>
</robot>
