<launch>
  <!--Launch the cameras-->
  <include file="$(find vision_lego)/launch/cam.launch"/>
  <!--remove auto exposure
  <node name="set_cam_stuff" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters camera/rgb_camera">
    <param name="enable_auto_exposure" type="int" value="0" />
    <param name="enable_auto_white_balance" type="int" value="0" />
    <param name="enable_auto_exposure_priority" type="int" value="0" />
  </node>-->
  <!--Launch the cal_station environment
  <include file="$(find cal_station)/launch/display.launch"/>
  -->


  <!-- the self made files -->
  <param name="cam_matrix_mode" type="int" value="2" />
  <param name="corner_refinement_method" type="int" value= "2" />
  <param name="marker_width" type="double" value="0.04040" />
  <node pkg="vision_lego" type="marker_detect" name="marker_detect" output="screen"></node>

  <!-- Data extractor
  <include file="$(find vision_lego)/launch/data_extractor.launch"/>
-->



</launch>
